$viewport--xxl:1170px;
@mixin wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding-left: 24px;
    position: relative;
}

@mixin wrapper_mobil {
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

@mixin img {
    max-width: 100%;
}

@mixin svg {
    max-width: 100%;
    position: absolute;
}

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin viewport--xl {
    @media (min-width: $viewport--xxl) {
        @content;
    }
}


